body {
    background-image: url('./img/backgroundImage2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity : 1;
    font-family: Arial, sans-serif;
}
@media only screen and (max-width: 1850px) {
    body {
      background-image: url('./img/backgroundImage1.png');
      background-repeat: no-repeat;
      background-size: cover;
      opacity : 1;
    }
}
#entire {
    margin-left: 5%;
    margin-right: 5%;
}
#selfieBox {
    border : 5px solid black;
    padding : 5px;
    text-align: left;
    color: white;

}
#headshot {
    height: 10em;
}
tr:nth-child(odd) {
    background-color: #747373;
    color: white;
}
tr:nth-child(even) {
    background-color: #373232;
    color:white;
}
table {
    width: auto;
}
#workTable {
    border: 5px solid white;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#interestList {
    color: white;
    border: 5px solid white;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#career {
    color: white;
    border: 5px solid white;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:link {
    color:lightblue;
    text-decoration: none;
    transition: all 0.4s ease-in-out;

}
a:hover {
    color: rgb(12, 25, 123);
    text-decoration: underline;
    transform: scale(1.5);
}